.carouselWrapper {
    width: 100%;
    background-color: black;
    position: relative;
}

.carouselWrapper > svg {
    color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    left: calc(100% - 135px);
    top: 14px;
    cursor: pointer;
}

.carouselWrapper > svg:hover {
    opacity: .8;
}

.loader {
    position: absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
}

.contentWrapper {
    display: flex;
    gap: 14px;
}

@media screen and (max-width: 1024px) {
    .contentWrapper {
        flex-direction: column;
        gap: 0px;
    }

    .carouselWrapper > svg {
        left: calc(100% - 70px);
    }
}