.container {
    padding: 24px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 24px;
    column-gap: 24px;
    padding: 24px;
    width: 80%;
    margin: 0 auto;
}

.header {
    padding: 24px;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 1220px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }


  @media screen and (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 64px;
    }
  }

  @media screen and (max-width: 765px) {
    .grid {
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
    }

    .header {
        display: none;
    }
  }

  @media screen and (max-width: 282px) {
    .grid {
        width: 100%;
        row-gap: 0px;
    }
    .header {
        padding: 0px 24px;
        text-align: left;
    }
  }