.container {
    padding: 24px;
    color: #525252;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container > h1 {
    font-size: 60px;
}

.image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.image > img {
    max-width: 768px;
    max-height: 432px;
}

@media screen and (max-width: 767px) {

    .container > h1 {
        font-size: 40px;
    }

    .image > img {
        transform: scale(.4);
    }
}