.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 24px;
}

.orgsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 40px;
    padding: 40px;
}

.loaderWrapper {
    position: absolute; 
    top: calc(50% - 90px);
    left: calc(50% - 45px); 
}

.pagination {
    padding: 24px;
}


@media screen and (min-width: 1700px) {
    .orgsGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }


@media screen and (max-width: 1439px) {
    .animalsGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media screen and (max-width: 1024px) {
    .animalsGrid {
        grid-template-columns: 1fr 1fr;
        column-gap: 64px;
    }

    .orgsGrid {
        grid-template-columns: 1fr;
        padding: 8px;
        grid-row-gap: 0px;
    }

}

@media screen and (max-width: 1220px) {
    .animalsGrid {
        grid-template-columns: 1fr;
        column-gap: 64px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 24px 0px;
    }
}

