.container {
    padding: 24px;
    position: relative;
    display: flex;
}

.animalsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 14px;
    row-gap: 24px;
    padding: 24px;
}

.loader {
   position: absolute;
   left: calc(50% - 32px);
   top: calc(50% - 32px);
}

.pagination {
    padding: 24px;
    width: 70%;
    margin: 0 auto;
}

.gridWrapper {
    display: flex;
    flex-direction: column;
}

.sidebarWrapper {
    padding: 24px;
}

@media screen and (min-width: 1441px) {
    .animalsGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }

@media screen and (max-width: 1439px) {
    .animalsGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media screen and (max-width: 1024px) {
    .animalsGrid {
        grid-template-columns: 1fr 1fr;
        column-gap: 64px;
    }
}