.container {
    padding: 24px;
    position: relative;
    display: flex;
    width: 100%;
}

.containerMobile {
    position: absolute;
    top: 70px;
    background-color: white;
}

.animalsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 14px;
    row-gap: 24px;
    padding: 24px;
}

.loader {
   position: absolute;
   left: calc(50% - 32px);
   top: calc(50% - 32px);
}

.pagination {
    padding: 24px;
    width: 70%;
    margin: 0 auto;
}

.gridWrapper {
    display: flex;
    flex-direction: column;
}

.sidebarWrapper {
    padding: 24px;
}

.sidebarMobile {
    display: none;
}

.filter {
    padding: 0px 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.filter > svg {
    width: 40px;
    height: 40px;
}

.mobileFilter {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px;
}

@media screen and (min-width: 1700px) {
    .animalsGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .container {
        gap: 100px;
    }
  }

@media screen and (max-width: 1439px) {
    .animalsGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media screen and (max-width: 1024px) {
    .animalsGrid {
        grid-template-columns: 1fr 1fr;
        column-gap: 64px;
    }
    .container {
        justify-content: center;
    }
    
    .pagination {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .animalsGrid {
        grid-template-columns: 1fr;
        justify-items: center;
    }
       
}