.wrapper {
    padding: 24px;
    background-color: white;
    position: absolute;
    top: 64px;
    right: calc(50% - 50px);
    z-index: 10000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.wrapper:hover {
    height: auto;
}

.wrapper > a {
    margin: 4px 0px;
    color: #525252;
    font-weight: bold;
}

.wrapper > a:hover {
    color: #00a7e1;
}

.searchWrapper {
    background-color: #00a7e1;
}

.searchWrapper > a {
    color: white;
}

.searchWrapper > a:hover {
    color: #525252;
}


