.container {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.searchLayout {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

@media screen and (max-width: 282px) {
    .container {
        width: 100%;
    }

    .searchLayout {
        width: 100%;
    }
}