.mobileNav {
    position: fixed;
    width: -webkit-fill-available;
    height: 100vh;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10000;
    /* transition: height 2s; */
    transition: width 2s cubic-bezier(.19,1,.22,1),background-color .6s cubic-bezier(.19,1,.22,1);
    overflow: hidden;
}

.close {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    /* border-bottom: 1px solid #03a7e1; */
    border-bottom: 1px solid #d2d2d2;
    height: 70px;
    align-items: center;
}

.close > svg {
    width: 40px;
    height: 40px;
}

.close > a > img {
    margin-top: 3px;
    width: 200px;
    height: 50px;
}

.links {
    display: flex;
    flex-direction: column;
    padding: 24px;
    font-weight: bold;
}

.links > a {
    margin: 14px 0px;
    color: #03a7e1;
}