.container {
    padding: 24px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 24px;
    padding: 24px;
    width: 80%;
    margin: 0 auto;
}

.header {
    padding: 24px;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}