.container {
    width: 100%;
    height: 100%;
}

.container > div > img {
    width: 100%;
    height: 100%;
    opacity: .9;
}

.heroWrapper {
    position: relative;
}

.searchWrapper {
    position: absolute;
    top: 60px;
    left: 35%;
}