.container {
    box-shadow: 0 1px 6px 0 #20212447;
    width: 240px;
    max-height: 400px;
    border-radius: 8px;
    background-color: white;
    position: relative;
}

.container > img {
    width: 240px;
    height: 270px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.container > svg {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: calc(100% - 50px);
    opacity: .9;
    transition-property: transform-scale;
    transition-duration: 4s;
    transition-delay: 2s;
}

.container > svg:hover {
    transform: scale(1.2);
    opacity: .7;
}

.container:hover {
    opacity: .7;
}

.footer {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer > h2 {
    font-size: 18px;
    margin: 0px;
    color: #00A7E1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin: 0px;
    color: #525252;
    font-weight: 400;
}

.info > ul {
    margin: 0px;
    padding-left: 0px;
    color: #525252;
}

.info > ul > li::marker {
    color: #00A7E1;
}

.info > p {
    margin: 0px 6px 2px 0px;
}

.distance {
    color: #00A7E1;
}
