.container {
    color: #525252;
}

.container > img {
    max-width: 885px;
    max-height: 500px;
}

.imageWrapper {
    position: relative;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageWrapper > img {
    max-width: 885px;
    max-height: 500px;
}

.textWrapper {
    position: absolute;
    left: calc(50% - 156px);
    top: 0px;
}

.textWrapper > h1 {
    font-size: 40px;
}

@media screen and (min-width: 1024px) {
    .imageWrapper > img {
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .imageWrapper > img {
       transform: scale(.5);
    }
    .textWrapper {
        left: calc(50% - 114px);
    }
    .textWrapper > h1 {
        font-size: 28px;
    }
}



