.searchInputs {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 675px) {
    .searchInputs {
        width: 75%;
    }
}

@media screen and (max-width: 539px) {
    .searchInputs {
        width: 100%;
    }
}